.segmented {
    display:flex;
    flex-flow:row wrap;
    font-size:90%;
    text-align:center;
}
.segmented label {
    /* display:block; */
    /* flex:1; */
    border:1px solid #167efb;
    border-right:none;
    color:#167efb;
    margin:0;
    padding:.4em; */
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
}
.segmented label.checked {
    background:#167efb;
    color:#fff;
}
.segmented.inverted label {
    border-color:#fff;
    color:#fff;
    background:none;
}
.segmented.inverted label.checked {
    background:#fff;
    color:inherit;
}
.segmented label:first-child {
    border-radius:.4em 0 0 .4em;
    border-right:0;
}
.segmented label:last-child {
    border-radius:0 .4em .4em 0;
    border-right:1px solid;
}
.segmented input[type="radio"] {
    appearance:none;
    -webkit-appearance:none;
    margin:0;
    position: absolute;
}
/* $mainColour: #007aff;
$lightColour: tint($mainColour, 90%); */

.segment_control_container {
  display: flex;
}
.segment_control {
  color: #007aff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #007aff;
  user-select: none;
}
.segment_control:hover {
  background-color: #007aff4f;
}
.segment_control:not(:first-of-type) {
  margin-left: -1px;
}
.segment_control:first-of-type {
  border-radius: 5px 0 0 5px;
}
.segment_control:last-of-type {
  border-radius: 0 5px 5px 0;
}
.segment_control.active,
.segment_control_container input[type="radio"]:checked + label {
  background-color: #007aff;
  color: #fff;
}
.segment_control_container input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
