.App {
  text-align: center;
}

.App-header {
  padding-top: 1px;
  background-color: #222;
  height: 60px;
  color: white;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  width: 100%;
  font-size: 8px;
  background-color: pink;
  position: absolute;
  bottom: 0;
}