.App {
  text-align: center;
}

.App-header {
  padding-top: 1px;
  background-color: #222;
  height: 60px;
  color: white;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  width: 100%;
  font-size: 30px;
  background-color: pink;
  position: absolute;
  bottom: 0;
}

.container {
  width: 100%;
  max-width: 300PX;
}

/* .container{
  padding:20px;
  margin:20px 0;
} */
