html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Lucida Grande", "Arial", sans-serif;
  background-color: #f9f9f9;
}

textarea:focus, input:focus {
  outline: none;
  background-color: rgba(171, 172, 173, 0.2);
}

.swatch {
  margin: 1.6%;
  width: 30%;
  float: left;
  height: 75px;
  border-radius: 10px;
  padding: 0.8em;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 86px;
  font-weight: 300;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 19px;
  font-weight: normal;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

p {
  font-size: 13px;
}

.medium {
  font-weight: 500;
}

.container {
  width: 375px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-icons {
  display: flex;
  max-width: 375px;
  margin: 0 auto;
  justify-content: space-between;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer svg {
  padding-top: 10px;
  height: 40px;
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
}

footer p {
  font-size: 10px;
  margin: 0;
  text-align: center;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.test-list li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(171, 172, 173, 0.5);
}

.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}
